@charset "utf-8";
p {
	color: #FFF;
}
#content .menu ul li{
	display: inline;
	list-style-type: none;
	color: #112232;
	font-size: 18px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 5px;
	
}
#content .menu ul {
	background-color: #ABABAB;
	padding:5px;
}

h1 {

	background-color: rgb(190, 189, 165);

	color: rgb(17, 17, 124);
}